*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root{
    --main-color: #4BA4FF;
    --main-color-2: #007EFF;
}

header{
    position: relative;
}

header #navbar{
    display: flex;
    justify-content: space-around;
    z-index: 99;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 20px 0px;
    align-items: center;
    font-family: 'Lato';
}

header .active{
    background: linear-gradient(90deg, rgba(2,9,16,1) 0%, rgba(7,60,63,1) 44%, rgba(7,60,63,1) 55%, rgba(2,9,16,1) 100%);
}

header #navbar .logo{
    display: flex;
}

header #navbar .logo h2{
    color: #FFFFFF;
    padding-left: 5px;
    font-weight: 400;
    letter-spacing: 1px;
}

header #navbar .logo .logo-img img{
    height: 25px;
}

header #navbar .left{
    display: flex;
}

header #navbar ul{
    display: flex;
    gap: 35px;
    font-family: 'Poppins';
    padding-top: 8px;
}

header #navbar ul a{
    font-size: 0.8rem;
    color: #FFFFFF;
    transition: 0.3s;
}

header #navbar ul a:hover{
    color: #5856E8;
}

header #navbar button{
    background-color: #5856E8;
    padding: 13px 40px;
    margin-left: 50px;
    border-radius: 50px;
    border: 2px solid #5856E8;
    color: #FFFFFF;
    text-transform: capitalize;
    transition: 0.3s;
    font-family: 'Poppins';
}

header #navbar button:hover{
    background-color: #5956e8e0;
}













