*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root{
    --main-color: #4BA4FF;
    --main-color-2: #007EFF;
}

body{
    background-color: #000000;
    scroll-behavior: smooth;
}

header{
    position: relative;
    height: 95vh;
    width: 100%;
    background: radial-gradient(circle, rgba(1,4,12,1) 0%, rgba(9,83,86,1) 0%, rgba(6,45,50,1) 24%, rgba(6,44,49,1) 28%, rgba(6,43,48,1) 30%, rgba(4,31,36,1) 35%, rgba(1,4,12,1) 48%, rgba(1,4,12,1) 100%);
    /* background-image:; */
}


header #navbar{
    display: flex;
    justify-content: space-around;
    z-index: 99;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 20px 0px;
    align-items: center;
    font-family: 'Lato';
}

header .active{
    background: linear-gradient(90deg, rgba(2,9,16,1) 0%, rgba(7,60,63,1) 44%, rgba(7,60,63,1) 55%, rgba(2,9,16,1) 100%);
}

header #navbar .logo{
    display: flex;
}

header #navbar .logo h2{
    color: #FFFFFF;
    padding-left: 5px;
    font-weight: 400;
    letter-spacing: 1px;
}

header #navbar .logo .logo-img img{
    height: 25px;
}

header #navbar .left{
    display: flex;
}

header #navbar ul{
    display: flex;
    gap: 35px;
    font-family: 'Poppins';
    padding-top: 11px;
}

header #navbar ul a{
    font-size: 0.8rem;
    color: #FFFFFF;
    transition: 0.3s;
}

header #navbar ul a:hover{
    color: #5856E8;
}

header #navbar button{
    background-color: #5856E8;
    padding: 13px 40px;
    margin-left: 50px;
    border-radius: 50px;
    border: 2px solid #5856E8;
    color: #FFFFFF;
    text-transform: capitalize;
    transition: 0.3s;
    font-family: 'Poppins';
}

header #navbar button:hover{
    background-color: #5956e8e0;
}







header .home{
    padding-top: 45vh;
    text-align: center;
    font-family: 'Lato';
    background-image:  url(assets/bg-home.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

header .home p{
    font-size: 1.3rem;
    color: #809599;
    line-height: 150%;
    padding-bottom: 60px;
}

header .home button{
    padding: 10px 20px;
    font-size: 1.1rem;
    background-color: #8CE5E3;
    border: 2px solid #8CE5E3;
    border-radius: 50px;
    transition: .3s;
}

header .home button:hover{
    background-color: #5ed1cf;

}

header .home button i{
    color: #000000;
    font-size: 1.2rem  ;
    background: #FFFFFF;
    padding: 10px;
    border-radius: 50px;
    margin-left: 7px;
    transition: .8s;
}

header .home button i:hover{
    background: #ffffffb6;
}

header .home button i:active{
    background: transparent;
}

header .home .scroll-btn{
    margin-top: 17vh;
}

header .home .scroll-btn a{
    padding: 18px;
    background: #051B1F;
    border-radius: 50px;
    border: 10px solid #052025;
}

header .home .scroll-btn a i{
    color: #FFFFFF;
    font-size: 1.2rem;
}


.services{

    width: 100%;
    height: 50vh;
}




















































